In [1]:
import pandas
from pandas import DataFrame as df
pandas.options.display.max_rows = 999
pandas.options.display.max_columns = 999

from pandas import pivot_table
from IPython import display
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
dresses = [15, 70, 10, 55, 35]
scarves = [5, 15, 25, 35, 45]
jeans = [5, 15, 5, 10, 20]
year = [6, 7, 8, 9, 10]

clothes = df(data = [dresses, scarves, jeans])
clothes = clothes.transpose()

In [5]:
clothes.columns = ['dresses','scarves','jeans']
clothes.index=year
clothes

    dresses  scarves  jeans
6        15        5      5
7        70       15     15
8        10       25      5
9        55       35     10
10       35       45     20

In [6]:
clothes['total'] = clothes.dresses+clothes.scarves+clothes.jeans
clothes['per_scarves'] = clothes.scarves/clothes.total

In [7]:
clothes

    dresses  scarves  jeans  total  per_scarves
6        15        5      5     25        0.200
7        70       15     15    100        0.150
8        10       25      5     40        0.625
9        55       35     10    100        0.350
10       35       45     20    100        0.450