## Problem: Maximize Profit from these members. 
### Where to go from here? - questions? observations? directions?
#### • emails.tsv: a tab-separated file of all emails sent to a subset of our members from the JobsRadar brand in September
#### • email_responses.tsv: a tab-separated file of open, click, and unsubscribe events that resulted from those emails
#### • members.tsv: a tab-separated file of information about the members to whom those emails were sent
#### • *.png: sample images of each of the email variants sent in this set (as identified by either the "variant" or "campaign" column in emails.tsv)
#### • *.eml: Outlook export files of same

In [1]:
# Import some useful python modules
import matplotlib as plt
import seaborn as sns
%matplotlib inline

import numpy as np
import pandas as pd
import os
import datetime

In [2]:
# change working directory into folder with data, view what is available
os.chdir(os.getcwd() + '\data')
os.listdir(os.getcwd())

['account_login_info_s2_v1.eml',
 'account_login_info_s2_v1.png',
 'emails.tsv',
 'email_responses.tsv',
 'fixed_keyword_cloud_s1_v1.eml',
 'fixed_keyword_cloud_s1_v1.png',
 'forgot_password.eml',
 'forgot_password.png',
 'job_alert_s1_v1.png',
 'members.tsv']

In [3]:
# Parse data into Pandas DataFrames
emails = pd.read_table('emails.tsv', header=None)
emails.columns = ['email_id','timestamp','subject','variant/campagin','member_id']
email_responses = pd.read_table('email_responses.tsv', header=0)

In [4]:
emails.head()

,email_id,timestamp,subject,type,?
0,205569994,2012-09-01 00:00:07,Transactional JR Welcome Email,account_login_info_s2_v1,14802252
1,205569995,2012-09-01 00:00:07,Transactional JR Welcome Email,account_login_info_s2_v1,14802253
2,205569997,2012-09-01 00:00:07,Transactional JR Welcome Email,account_login_info_s2_v1,14802255
3,205569998,2012-09-01 00:00:07,Transactional JR Welcome Email,account_login_info_s2_v1,14802256
4,205570000,2012-09-01 00:00:07,Transactional JR Welcome Email,account_login_info_s2_v1,14802257

In [29]:
emails['main_type'] = emails['type'].apply(lambda x: x.split(':')[0] if not pd.isnull(x) else np.nan)
emails['sub_type'] = emails['type'].apply(lambda x: x.split(':')[1] if not pd.isnull(x) and len(x.split(':')) > 1 else np.nan)

In [49]:
emails[emails['email_id'] == 205570557]

,email_id,timestamp,subject,type,?,main_type,sub_type
85,205570557,2012-09-01 04:00:04,T plus N,job_alert_s1_v1:tplus5_1opened,14708719,job_alert_s1_v1,tplus5_1opened

In [52]:
emails[pd.isnull(emails['type'])].subject.value_counts()

Transactional Forgot Password Email    121880
dtype: int64

In [53]:
emails.main_type.unique()

array(['account_login_info_s2_v1', nan, 'job_alert_s1_v1',
       'fixed_keyword_cloud_s1_v1', 'birthday_s1_v1_f2',
       'birthday_joblist1_s1_v1_f2', '\\N'], dtype=object)

In [6]:
email_responses.head()

    email_id            timestamp action
0  205570123  2012-09-01 00:12:36   open
1  205570123  2012-09-01 00:12:57  click
2  205570076  2012-09-01 00:23:49  click
3  205570320  2012-09-01 00:30:52   open
4  205570320  2012-09-01 00:31:09  click

In [44]:
email_responses['action'].value_counts()

open     1099755
click     436201
unsub      22653
dtype: int64

In [34]:
# There are some issues with the members file (varying apparent row lengths, likely due to a separator issue) 
# so we will read that directly and try to identify where the issues are. 
# After the data is in a usable form and then parse the data into a dataframe manually
members_file = open('members.tsv','r')
members_list = []
members_list_raw = []
for line in members_file.readlines():
    members_list_raw.append(line)
    members_list.append(line.replace('\n','').split('\t'))

In [35]:
# Find the rows that are having issues
max_row_length = 1
for i, row in enumerate(members_list):
    if len(row) > max_row_length:
        max_row_length = len(row)
        print len(row), i

11 0
12 205009
13 1180508
14 1407001

In [36]:
print members_list[0]
members_list_raw[205009]

['member_id', 'date', 'email_domain', 'first_name', 'city', 'state', 'zip', 'degree_level', 'hs_or_ged_year', 'pcp_score', 'keyword']

'11175037\t2012-01-16 12:25:10\tyahoo.com\tmakke\\\t\t\\N\t\\N\t60000\tBachelor\t2001\t0.0891283\tAdmin Assistant Job\n'

In [37]:
# From investigating the above rows, we can see that the issue stems from additional tabs in the value fields
# we therefore need to replace the invalid dditional tab values so the data can be formatted correctly
clean_members_list = [member.replace('\n','').replace('\\\t','').replace('\N','').split('\t') 
                      for member in members_list_raw]
members = pd.DataFrame(data=clean_members_list[1:], columns=clean_members_list[0])

In [38]:
members.head()

,member_id,date,email_domain,first_name,city,state,zip,degree_level,hs_or_ged_year,pcp_score,keyword
0,234,2010-05-03 22:03:59,yahoo.com,Marcetta,Flint,MI,48504,HS,2009,0.318068,walmart jobs
1,529,2010-05-04 07:28:56,yahoo.com,AMIR,BARNAVELD,NY,13304,HS,1986,0.186209,Welder career
2,1929,2010-05-04 09:58:57,gmail.com,amy,Wilson,NC,27893,HS,2002,0.299836,bank teller career
3,1949,2010-05-04 10:00:26,gmail.com,meia,Taylor,MI,48180,HS,2002,0.282951,general labor employment
4,2405,2010-05-04 10:33:58,yahoo.com,tre',Houma,LA,70363,Some HS,2010,0.170429,work in Houma LA

In [ ]:
#about an hour to ETL and understand all of the data

In [39]:
members['keyword'].value_counts()

DarkStar click                   74192
walmart job                      61119
walmart application              54882
                                 19615
walmart jobs                     19138
FedEx +Job                       16810
--ORGANIC--                      14918
family dollar jobs               14777
Adecco Jobs                      14239
costco jobs                      14225
kmart job                        14131
Kelly Services Job               13523
indeed                           11954
dollar general jobs              10952
Wendy's career                   10502
UPS +Job                         10141
BURGER KING                       9324
FedEx +Jobs                       8802
ups job                           8781
kmart application                 8526
walmart employment                8202
kroger jobs                       7975
walmart careers                   7852
Costco job                        7787
mcdonalds.com                     7561
frito-lay jobs                    7501
job application                   7278
www.mcdonalds.com                 6672
Frito-Lay +Jobs                   5726
Kroger job                        5497
                                 ...
The Boston Company Employment        1
ethan allen job                      1
Fairchild Medical Center Jobs        1
Fabco +Jobs                          1
Legal Sea Foods Job                  1
www.agc.com                          1
Midas Career                         1
champaign job                        1
Ohio State Government Work           1
CARLOSOKELLYS.COM                    1
www.Jpmorganchase.com                1
veterinary job                       1
Alliance For Career                  1
Dow AgroSciences Careers             1
food career market                   1
work in Broadcasting CA              1
Baylor Medical Center Job            1
www.clearviewcinemas.com             1
Sidley Austin Application            1
wilsonart job                        1
South Dakota Gov Work                1
seattle work                         1
Portland Govt Jobs                   1
jobs in Pastry IL                    1
esri.com                             1
Liberty Career                       1
Ruth Chris career                    1
minooka jobs                         1
calexico ca work                     1
Avid Technology +Job                 1
dtype: int64

In [50]:
members[members['member_id'] == '14708719']

,member_id,date,email_domain,first_name,city,state,zip,degree_level,hs_or_ged_year,pcp_score,keyword
1044094,14708719,2012-08-27 22:28:40,fuse.net,Shantel,NEWPORT,KY,41076,HS,2011,0.305409,adecco application

In [62]:
complete_emails = pd.merge(emails, email_responses, how='outer', on='email_id', suffixes=['_1', '_2'])
#pd.merge()
complete_emails.head()

,email_id,timestamp_1,subject,type,?,main_type,sub_type,timestamp_2,action
0,205569994,2012-09-01 00:00:07,Transactional JR Welcome Email,account_login_info_s2_v1,14802252,account_login_info_s2_v1,NaN,NaN,NaN
1,205569995,2012-09-01 00:00:07,Transactional JR Welcome Email,account_login_info_s2_v1,14802253,account_login_info_s2_v1,NaN,NaN,NaN
2,205569997,2012-09-01 00:00:07,Transactional JR Welcome Email,account_login_info_s2_v1,14802255,account_login_info_s2_v1,NaN,NaN,NaN
3,205569998,2012-09-01 00:00:07,Transactional JR Welcome Email,account_login_info_s2_v1,14802256,account_login_info_s2_v1,NaN,NaN,NaN
4,205570000,2012-09-01 00:00:07,Transactional JR Welcome Email,account_login_info_s2_v1,14802257,account_login_info_s2_v1,NaN,NaN,NaN

In [ ]:
emails.join()