In [2]:
import pandas as pd
import numpy as np
import matplotlib as plt

%matplotlib inline

In [16]:
training = pd.read_csv("http://s3.amazonaws.com/assets.datacamp.com/course/Kaggle/train.csv")
testing = pd.read_csv("http://s3.amazonaws.com/assets.datacamp.com/course/Kaggle/test.csv")
print 'Training -', dict(zip(('rows','features'), training.shape))
print 'Testing -', dict(zip(('rows','features'), testing.shape))

Training - {'rows': 891, 'features': 12}
Testing - {'rows': 418, 'features': 11}

In [17]:
#See how many people in training set survived
training.Survived.value_counts()

0    549
1    342
dtype: int64

In [194]:
pvt_train = pd.pivot_table(data=training, index=['Survived'], columns=['Sex'], values =['PassengerId'], aggfunc='count')
pvt_train.apply(lambda x: x / (x.max() + x.min()))

         PassengerId
Sex           female      male
Survived
0           0.257962  0.811092
1           0.742038  0.188908

In [199]:
pvt_train = pd.pivot_table(data=training, index=['Survived'], columns=['Embarked'], values =['PassengerId'], aggfunc='count')
pvt_train.apply(lambda x: x / (x.max() + x.min()))

         PassengerId
Embarked           C        Q         S
Survived
0           0.446429  0.61039  0.663043
1           0.553571  0.38961  0.336957

In [19]:
training.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

In [44]:
testing.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [203]:
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, ExtraTreesClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC, LinearSVC
from sklearn.cross_validation import train_test_split
from sklearn.metrics import classification_report

# [['Pclass','SibSp','Parch','child','Survived','sex_bool']]
data = pd.read_csv("http://s3.amazonaws.com/assets.datacamp.com/course/Kaggle/train.csv")
data['embarked_val'] = data['Embarked'].dropna().map({'S': 1, 'C': 2, 'Q': 3}).astype(int)
data['child'] = (data.Age.dropna() <= 18)*1
data['sex_bool'] = (data.Sex.dropna() == 'male')*1
cleaned_data = data[['Pclass','child','Survived','sex_bool','embarked_val']].dropna() 
X = cleaned_data[['Pclass','child','sex_bool','embarked_val']]
y = cleaned_data[['Survived']]

X_train, X_test, y_train, y_test = train_test_split(X, y)

In [147]:
clf = DecisionTreeClassifier()
clf.fit(X_train, y_train)
predictions = clf.predict(X_test)
print 'Decision Tree Classifier'
print classification_report(y_test, predictions)

Decision Tree Classifier
             precision    recall  f1-score   support

          0       0.76      0.94      0.84       103
          1       0.88      0.60      0.71        75

avg / total       0.81      0.80      0.79       178

In [148]:
clf = RandomForestClassifier(n_estimators=10)
clf.fit(X_train, y_train.ravel())
predictions = clf.predict(X_test)
print 'RandomForest Classifier'
print classification_report(y_test, predictions)

RandomForest Classifier
             precision    recall  f1-score   support

          0       0.76      0.94      0.84       103
          1       0.88      0.59      0.70        75

avg / total       0.81      0.79      0.78       178

In [149]:
clf = GradientBoostingClassifier()
clf.fit(X_train, y_train.ravel())
predictions = clf.predict(X_test)
print 'Gradient Boosting Classifier'
print classification_report(y_test, predictions)

Gradient Boosting Classifier
             precision    recall  f1-score   support

          0       0.76      0.94      0.84       103
          1       0.88      0.60      0.71        75

avg / total       0.81      0.80      0.79       178

In [150]:
clf = ExtraTreesClassifier()
clf.fit(X_train, y_train.ravel())
predictions = clf.predict(X_test)
print 'Extra Trees Classifier'
print classification_report(y_test, predictions)

Extra Trees Classifier
             precision    recall  f1-score   support

          0       0.76      0.94      0.84       103
          1       0.88      0.60      0.71        75

avg / total       0.81      0.80      0.79       178

In [151]:
clf = LogisticRegression()
clf.fit(X_train, y_train.ravel())
predictions = clf.predict(X_test)
print 'Logistic Regression Classifier'
print classification_report(y_test, predictions)

Logistic Regression Classifier
             precision    recall  f1-score   support

          0       0.78      0.94      0.85       103
          1       0.89      0.63      0.73        75

avg / total       0.82      0.81      0.80       178

In [190]:
# instantiate the model (using the value K=5)
knn = KNeighborsClassifier(n_neighbors=2)
knn.fit(X_train, y_train.ravel())
predictions = knn.predict(X_test)
print 'K Nearest Neighbor Regression Classifier'
print classification_report(y_test, predictions)

K Nearest Neighbor Regression Classifier
             precision    recall  f1-score   support

          0       0.76      0.97      0.85       103
          1       0.93      0.57      0.71        75

avg / total       0.83      0.80      0.79       178

In [202]:
clf = SVC()
clf.fit(X_train, y_train.ravel())
predictions = clf.predict(X_test)
print 'Support Vector Machines Classifier'
print classification_report(y_test, predictions)

Support Vector Machines Classifier
             precision    recall  f1-score   support

          0       0.77      0.95      0.85       103
          1       0.90      0.61      0.73        75

avg / total       0.83      0.81      0.80       178

In [204]:
clf = LinearSVC()
clf.fit(X_train, y_train.ravel())
predictions = clf.predict(X_test)
print 'Support Vector Machines Classifier'
print classification_report(y_test, predictions)

Support Vector Machines Classifier
             precision    recall  f1-score   support

          0       0.83      0.87      0.85       106
          1       0.79      0.74      0.76        72

avg / total       0.81      0.81      0.81       178

In [211]:
from sklearn.ensemble import BaggingClassifier
from sklearn.neighbors import KNeighborsClassifier
bagging = BaggingClassifier(KNeighborsClassifier(), max_samples=0.5, max_features=0.5)
predictions = clf.predict(X_test)
print classification_report(y_test, predictions)

             precision    recall  f1-score   support

          0       0.83      0.87      0.85       106
          1       0.79      0.74      0.76        72

avg / total       0.81      0.81      0.81       178

In [185]:
def get_classification(classification_report_string):
    str_cl = [x.split() for x in classification_report(y_test, predictions).splitlines()][-1][3:-1]
    cl_rep = np.array([float(x) for x in str_cl]).mean()
    return cl_rep

In [213]:
max_val = {'m': [0, 0]}
for x in range(1,300):
    knn = KNeighborsClassifier(n_neighbors=x)
    knn.fit(X_train, y_train.ravel())
    predictions = knn.predict(X_test)
    t = get_classification(classification_report(y_test, predictions))
    if t > max_val['m'][1]:
        max_val['m'] = [x, t]
max_val

{'m': [188, 0.78333333333333333]}