In [1]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
import numpy as np
import matplotlib as plt
%matplotlib inline
import os, sys

In [2]:
import pickle
os.chdir('D:\\GitHub\\ud120-projects\\final_project')
enron_data_file = pickle.load(open("../final_project/final_project_dataset.pkl", "r"))

In [3]:
enron_data = pd.DataFrame().from_dict(enron_data_file).T
enron_data = enron_data.applymap(lambda x: np.nan if x == 'NaN' else x)
enron_data.head()

,bonus,deferral_payments,deferred_income,director_fees,email_address,exercised_stock_options,expenses,from_messages,from_poi_to_this_person,from_this_person_to_poi,loan_advances,long_term_incentive,other,poi,restricted_stock,restricted_stock_deferred,salary,shared_receipt_with_poi,to_messages,total_payments,total_stock_value
ALLEN PHILLIP K,4175000,2869717,-3081055,NaN,phillip.allen@enron.com,1729541,13868,2195,47,65,NaN,304805,152,False,126027,-126027,201955,1407,2902,4484442,1729541
BADUM JAMES P,NaN,178980,NaN,NaN,NaN,257817,3486,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN,NaN,182466,257817
BANNANTINE JAMES M,NaN,NaN,-5104,NaN,james.bannantine@enron.com,4046157,56301,29,39,0,NaN,NaN,864523,False,1757552,-560222,477,465,566,916197,5243487
BAXTER JOHN C,1200000,1295738,-1386055,NaN,NaN,6680544,11200,NaN,NaN,NaN,NaN,1586055,2660303,False,3942714,NaN,267102,NaN,NaN,5634343,10623258
BAY FRANKLIN R,400000,260455,-201641,NaN,frank.bay@enron.com,NaN,129142,NaN,NaN,NaN,NaN,NaN,69,False,145796,-82782,239671,NaN,NaN,827696,63014

In [7]:
print enron_data['bonus'].corr(enron_data['salary'])
print enron_data['bonus'].corr(enron_data['long_term_incentive'])

0.99342458106
0.995011978907

In [57]:
from sklearn.linear_model import LinearRegression
from sklearn.cross_validation import train_test_split
X = enron_data['long_term_incentive'].fillna(0).values
y = [[b] for b in enron_data['bonus'].fillna(0).values]
features_train, features_test, labels_train, labels_test = train_test_split(X,y )

In [58]:
len(features_train)

109

In [60]:
lr = LinearRegression()
lt = [[y] for y in labels_train]
ft = [[x] for x in features_train]
lr.fit(ft, labels_train)
#pred = lr.predict(features_test)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [67]:
lr.score()

468739.2605548189